# share variables between macros
# can be accessed via {printer["gcode_macro SHARE_VARIABLES"].VARIABLE_NAME}
# can be set with SET_GCODE_VARIABLE MACRO=SHARE_VARIABLES VARIABLE=VARIABLE_NAME VALUE=NEW_VALUE
[gcode_macro SHARE_VARIABLES]
variable_enable_save_config : False
variable_dim_enclosure_led : False
gcode:

[gcode_macro START_PRINT]
gcode:
  # Get first-layer bed-temp from slicer (Orca: [bed_temperature_initial_layer_single])
  {% set BED_TEMP = params.BED_TEMP|default(55)|float %}
  # Get first-layer extruder-temp from slicer (Orca: [nozzle_temperature_initial_layer])
  {% set EXTRUDER_TEMP = params.EXTRUDER_TEMP|default(190)|float %}
  M104 S{150} ; set nozzle warmup temp
  M140 S{BED_TEMP} ; wait for bed temp to create mesh
  RESPOND MSG="Homing and waiting for bed to reach temperature"
  G28 #home all
  M190 S{BED_TEMP} ; wait for bed temp to create mesh
  RESPOND MSG="Creating adaptive bed mesh"
  M104 S{EXTRUDER_TEMP} ; warmup while creating adaptive mesh
  BED_MESH_CALIBRATE PROFILE=currPrint Adaptive=1 Adaptive_Margin=5 PROBE_COUNT=4
  BED_MESH_PROFILE SAVE=currPrint
  BED_MESH_PROFILE LOAD=currPrint
  PRINT MSG="Waiting for nozzle to reach temp... then drawing prime line"
  M109 S{EXTRUDER_TEMP} ; wait for temp to purge
  LINE_PURGE # purge nozzle
  RESPOND MSG="Print started!"
[gcode_macro END_PRINT]
gcode: 
  M83 ; set to relative
  COOL_DOWN_ALL
  G1 E-5 F900 ; retract 4mm at 15mm/sec
  M84 X Y E ; disable motors

[gcode_macro CANCEL_PRINT]
gcode: 
  M83 ; set to relative
  COOL_DOWN_ALL
  # Move nozzle away from print while retracting
  G91
  G1 X-2 Y-2 E-3 F300    # Raise nozzle by 25mm
  G1 Z25 F3000
  G90
  M84 X Y E ; disable motors
  
[gcode_macro COOL_DOWN_ALL]
gcode:
    # Turn off bed, extruder, and fan
    M140 S0
    M104 S0
    M106 S0
    
[gcode_macro PREHEAT_PLA]
description: Preheats extruder and bed for PLA printing, extruder set to 150 to prevent filament leaking while homing etc
gcode:
  {% set EXTRUDER_TEMP = nozzle_temperature_initial_layer|default(150)|float %}
  {% set BED_TEMP = bed_temperature_initial_layer_single|default(60)|float %}
  M104 S{EXTRUDER_TEMP}
  M140 S{BED_TEMP}

[gcode_macro UNLOAD_FILAMENT]
description: Unloads Filament from extruder
gcode:
  {% if printer.extruder.temperature < 180 %}
    {action_respond_info("Extruder temperature too low")}
  {% else %}
    SAVE_GCODE_STATE NAME=UNLOAD_state
    {% set Z = params.Z|default(50)|int %}
    {% set axis_max = printer.toolhead.axis_maximum %}
    {% set pos = printer.toolhead.position %}
 
    {% set z_diff = axis_max.z - pos.z %}
    {% set z_safe_lift = [ Z, z_diff ] | min%}
 
    G91                   # relative positioning
    G0 Z{ z_safe_lift }
    # Reset extruder position
    G92 E0
    G1 E5.0 F300        # extrude a little
    G1 E-50 F{ 10 * 60 } # perform the unload
    G1 E-50 F{ 5 * 60 }   # finish the unload
    RESTORE_GCODE_STATE NAME=UNLOAD_state
  {% endif %}
  
[gcode_macro BED_TRAMMING_1]
description: Heats bed and starts process to level the bed with the screws
gcode:
  {% set BED_TEMP = params.BED_TEMP|default(60)|float %} 
  SET_HEATER_TEMPERATURE HEATER=heater_bed TARGET={BED_TEMP}
  HOME_CHECK
  M190 S{BED_TEMP}
  SCREWS_TILT_CALCULATE
[gcode_macro BED_TRAMMING_2]
description: Continues the bed screw leveling process (no heating)
gcode:
  SCREWS_TILT_CALCULATE

[gcode_macro G28]
# Only home if needed.
rename_existing: G28.1
gcode:
    {% if printer.toolhead.homed_axes != "xyz" %}
        G28.1
    {% endif %}

#####################################
#          PID Tune Macros          #
#       Version 1.0  2023-1-30      #
#####################################

################################
######### PID_EXTRUDER #########
################################
[gcode_macro PID_EXTRUDER]
description: PID Tune for the Extruder
gcode:
  {% set e = printer.toolhead.extruder %}
  {% set T = params.TEMPERATURE|default(210)|float %}
  {% set S = params.FAN_IN_PERCENT|default(0)|float *2.55 %}
  {% set P = printer.configfile.config[e].pid_kp|float %}
  {% set I = printer.configfile.config[e].pid_ki|float %}
  {% set D = printer.configfile.config[e].pid_kd|float %}
  M106 S{S}
  M118 // PID parameters: pid_Kp={P} pid_Ki={I} pid_Kd={D}  (old)
  PID_CALIBRATE HEATER={e} TARGET={T}
  TURN_OFF_HEATERS
  SAVE_CONFIG
 
################################
############ PID_BED ###########
################################
[gcode_macro PID_BED]
description: PID Tune for the Bed
gcode:
  {% set T = params.TEMPERATURE|default(60)|float %}
  {% set P = printer.configfile.config['heater_bed'].pid_kp|float %}
  {% set I = printer.configfile.config['heater_bed'].pid_ki|float %}
  {% set D = printer.configfile.config['heater_bed'].pid_kd|float %}
  M118 // PID parameters: pid_Kp={P} pid_Ki={I} pid_Kd={D}  (old)
  PID_CALIBRATE HEATER=heater_bed TARGET={T}
  TURN_OFF_HEATERS
  SAVE_CONFIG